.hand {
  display: grid;
  width: inherit;
  height:90vh;
  grid-template-columns: 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 0;
  /* justify-content: center;
  align-items: center; */
}

/* .card {
  width: 231px;
  height: 234px;
} */

.cardHolder {
  display: inline-block;
  width: 216px;
  height: 222px;
  margin: 20px 0px 20px 0px;
  padding: 5px;
}
