.hand {
  display: grid;
  width: 20vh;
  height:90vh;
  grid-template-columns: 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 0;
  /* justify-content: center;
  align-items: center; */
}
